Repository codesquad-member-2020/airbnb-05, pull requests merged in 2020-05, with the labels that each got.

#7 메인 화면 CollectionView 구성
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/SecondViewController.swift
  iOS/AirbnbProject/AirbnbProject/FirstViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/AccmodationThumbnailCollectionViewDataSource.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationCollectionViewDataSource.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoCollectionViewCell.xib
Labels: iOS

#9 [iOS] 메인화면 - TableView 안에 CollectionView
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.xcworkspace/xcuserdata/keunnalee.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/AirbnbProject/AirbnbProject.xcodeproj/xcuserdata/keunnalee.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/welcom_DD.imageset/Contents.json
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/welcom_DD.imageset/welcom_DD.jpg
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/SecondViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/AccmodationThumbnailCollectionViewDataSource.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationCollectionViewDataSource.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoCollectionViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/Model.swift
  iOS/AirbnbProject/AirbnbProject/View/ThumbnailImageCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/ThumbnailImageCollectionViewCell.xib
Labels: iOS

#12 [iOS] 메인 페이지 리뷰 반영
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/Model.swift
  iOS/AirbnbProject/AirbnbProject/View/ThumbnailImageCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/ThumbnailImageCollectionViewCell.xib
Labels: fixed, iOS

#19 [BE] 프로젝트 세팅
  BE/airbnb5/.gitignore
  BE/airbnb5/build.gradle
  BE/airbnb5/gradle/wrapper/gradle-wrapper.jar
  BE/airbnb5/gradle/wrapper/gradle-wrapper.properties
  BE/airbnb5/gradlew
  BE/airbnb5/gradlew.bat
  BE/airbnb5/settings.gradle
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/Airbnb5Application.java
  BE/airbnb5/src/main/resources/application.properties
  BE/airbnb5/src/main/resources/loback.xml
  BE/airbnb5/src/test/java/com/codesquad/airbnb5/Airbnb5ApplicationTests.java
Labels: BE

#17 [iOS] 메인 화면 상세 구현
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/ExtensionButton.swift
  iOS/AirbnbProject/AirbnbProject/View/FavoriteButton.swift
  iOS/AirbnbProject/AirbnbProject/View/ThumbnailImageCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/ViewExtension.swift
Labels: iOS

#29 [iOS] 메인화면 변경 사항 반영 및 모델 구조체 추가
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/ButtonExtension.swift
  iOS/AirbnbProject/AirbnbProject/View/Model.swift
  iOS/AirbnbProject/AirbnbProject/View/ViewExtension.swift
Labels: iOS

#30 [iOS] 메인화면 - 인원 필터링 뷰 구현
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Util/CountButtonManager.swift
  iOS/AirbnbProject/AirbnbProject/Util/extensionUIView.swift
  iOS/AirbnbProject/AirbnbProject/View/FilterFooterView.swift
  iOS/AirbnbProject/AirbnbProject/View/FilterFooterView.xib
  iOS/AirbnbProject/AirbnbProject/View/FilterHeaderView.swift
  iOS/AirbnbProject/AirbnbProject/View/FilterHeaderView.xib
  iOS/AirbnbProject/AirbnbProject/View/GuestFilterReusableView.swift
  iOS/AirbnbProject/AirbnbProject/View/GuestFilterReusableView.xib
  iOS/AirbnbProject/AirbnbProject/View/GuestFilterViewController.swift
Labels: iOS

#31 [iOS] 메인 화면 + 인원수 필터링 화면 + 캘린더 뼈대 화면 구현
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Util/CountButtonManager.swift
  iOS/AirbnbProject/AirbnbProject/Util/extensionUIView.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/DayCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/MonthCollectionReusableView.swift
  iOS/AirbnbProject/AirbnbProject/View/Extension/ButtonExtension.swift
  iOS/AirbnbProject/AirbnbProject/View/Extension/ViewExtension.swift
  iOS/AirbnbProject/AirbnbProject/View/FilterReusableView/FilterFooterView.swift
  iOS/AirbnbProject/AirbnbProject/View/FilterReusableView/FilterFooterView.xib
  iOS/AirbnbProject/AirbnbProject/View/FilterReusableView/FilterHeaderView.swift
  iOS/AirbnbProject/AirbnbProject/View/FilterReusableView/FilterHeaderView.xib
  iOS/AirbnbProject/AirbnbProject/View/GuestFilterView/GuestFilterReusableView.swift
  iOS/AirbnbProject/AirbnbProject/View/GuestFilterView/GuestFilterReusableView.xib
  iOS/AirbnbProject/AirbnbProject/View/GuestFilterView/GuestFilterViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/MainView/FavoriteButton.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/ThumbnailImageCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/ThumbnailImageCollectionViewCell.xib
Labels: iOS

#32 [iOS] 달력 collectionview 날짜에 맞춰 cell label 연동되도록 기능 구현
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/Extension/DateExtension.swift
  iOS/AirbnbProject/AirbnbProject/View/Extension/DateFomatterExtension.swift
Labels: iOS

#34 [iOS] 즐겨찾기 버튼 구조 수정
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/Util/FavoriteButtonManager.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/MainView/FavoriteButton.swift
  iOS/AirbnbProject/AirbnbProject/View/Model.swift
Labels: iOS

#35 [BE] 메인화면 api 구현
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/config/SimpleCorsFilter.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/config/WebConfig.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/CityController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/RoomController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/domain/City.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/domain/CityRepository.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dto/ResponseDto.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dto/RoomDto.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/CityService.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/RoomService.java
  BE/airbnb5/src/main/resources/data.sql
  BE/airbnb5/src/main/resources/schema.sql
Labels: BE

#36 [iOS] 달력 collection view에서 cell에서 들어가는 날짜를 관리하는 객체 구현
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarCollectionViewManager.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarViewController.swift
Labels: iOS

#38 [BE] DB 관련 민감 정보 암호화
  BE/airbnb5/build.gradle
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/config/JasyptConfig.java
  BE/airbnb5/src/main/resources/application.properties
Labels: BE

#39 [iOS] 스크롤 뷰 위치 조정 관련 로직 수정
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarCollectionViewManager.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/DayCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/Extension/DateFomatterExtension.swift
Labels: iOS

#41 [iOS] 캘린더 날짜 선택
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/faintLightGray.colorset/Contents.json
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarCollectionViewManager.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/DayCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/Extension/DateExtension.swift
Labels: iOS

#43 [BE] 즐겨찾기 등록 및 해제 기능 구현
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/BookmarkController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/BookmarkDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/domain/Bookmark.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dto/ResponseDto.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/BookmarkService.java
  BE/airbnb5/src/main/resources/data.sql
  BE/airbnb5/src/main/resources/schema.sql
Labels: BE

#45 [BE] 즐겨찾기 목록 조회 기능 구현
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/BookmarkController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/BookmarkDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/domain/BookmarkRepository.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/BookmarkService.java
Labels: BE

#42 [iOS] 캘린더 뷰 리팩토링 및 기능 구현
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Util/BookingManager.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarCollectionViewManager.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/DayCollectionViewCell.swift
Labels: iOS

#46 [iOS] 캘린더 CollectionView 리팩토링 - Cell Manager
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Util/BookingManager.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarCollectionViewCellManager.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/DayCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/MainView/ThumbnailImageCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/ThumbnailImageCollectionViewCell.xib
Labels: iOS

#47 [BE] 가격 필터링 탭 api 구현
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/RoomController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dto/PriceDto.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/exception/GlobalExceptionHandler.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/exception/NotFoundException.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/RoomService.java
Labels: BE

#48 [BE] 리팩토링을 위한 Mapper 클래스 분리
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/BookmarkController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/RoomController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/BookmarkDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomMapper.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/BookmarkService.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/RoomService.java
Labels: BE
