Repository codesquad-member-2020/airbnb-05, pull requests merged in 2020-06, with the labels that each got.

#55 [iOS] 로그인 화면, 도시 선택 피커 화면, 즐겨찾기 탭, 가격 그래프 UI 구현
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/AirbnbKeyColor.colorset/Contents.json
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/CoralPink.colorset/Contents.json
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/LightPeachPink.colorset/Contents.json
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/airbnbLogo.imageset/Contents.json
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/airbnbLogo.imageset/airbnbLogo.png
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/gitHubLogo.imageset/Contents.json
  iOS/AirbnbProject/AirbnbProject/Assets.xcassets/gitHubLogo.imageset/gitHubLogo.png
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Controller/CityPickerViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/LoginViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/SavedAccomodationViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/SecondViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/Extension/ButtonExtension.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/PriceBarGraphView.swift
Labels: iOS

#57 [BE] 즐겨찾기 목록 조회 기능 버그 수정
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/BookmarkController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/BookmarkDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/ReservationDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomMapper.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/domain/Bookmark.java
Labels: BE, bug

#58 [BE] refactor: api url 수정
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/BookmarkController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/RoomController.java
Labels: BE, bug

#59 [iOS] 가격 필터 화면 구현
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/PriceBarGraphView.swift
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/PriceFilterViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/RangeSlider.swift
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/RangeSliderThumbLayer.swift
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/RangeSliderTrackLayer.swift
Labels: iOS

#60 [iOS] 네트워크 환경 설정 및 관련 객체 구현 + 도시 선택 화면 네트워크 연결
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/AirbnbProject/AirbnbProject.xcodeproj/xcshareddata/xcschemes/AirbnbProject.xcscheme
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Controller/CityPickerViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/Info.plist
  iOS/AirbnbProject/AirbnbProject/Util/DataUseCase.swift
  iOS/AirbnbProject/AirbnbProject/Util/NetworkManager.swift
  iOS/AirbnbProject/AirbnbProject/View/Model.swift
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/GuestFilterViewController.swift
  iOS/AirbnbProject/AirbnbProjectTests/AirbnbProjectTests.swift
Labels: iOS

#61 [BE] OAuth 기능 구현
  BE/airbnb5/build.gradle
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/auth/AuthCheckInterceptor.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/config/DevWebConfig.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/config/WebMvcConfig.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/BookmarkController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/LoginController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/ReservationController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/RoomController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/UserDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/domain/GithubToken.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/domain/User.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/exception/AuthorizationException.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/exception/GlobalExceptionHandler.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/exception/InvalidUserException.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/JwtService.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/OAuthService.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/UserService.java
  BE/airbnb5/src/main/resources/data.sql
  BE/airbnb5/src/main/resources/schema.sql
Labels: BE

#62 [BE] api 수정 사항 반영
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/RoomController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomMapper.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dto/RoomDto.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/RoomService.java
Labels: BE, bug

#63 [iOS] 네트워크 통신 및 뷰 컨트롤러간 데이터 전달
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Controller/CityPickerViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/SavedAccomodationViewController.swift
  iOS/AirbnbProject/AirbnbProject/Util/BookingManager.swift
  iOS/AirbnbProject/AirbnbProject/Util/DataUseCase.swift
  iOS/AirbnbProject/AirbnbProject/Util/NetworkManager.swift
  iOS/AirbnbProject/AirbnbProject/Util/Protocols.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarCollectionViewManager.swift
  iOS/AirbnbProject/AirbnbProject/View/CalendarView/CalendarViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/GuestFilterView/GuestFilterViewController.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/ThumbnailImageCollectionViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/Model.swift
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/PriceFilterViewController.swift
Labels: iOS

#64 [BE] refactor: 숙소 정보에 latitude, longitude 항목 추가
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/BookmarkDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomDao.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dao/RoomMapper.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/dto/RoomDto.java
Labels: BE

#65 [BE] 예약 요청 request body로 정보 전달
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/auth/vo/BookingInfo.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/auth/vo/ReservationVo.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/controller/ReservationController.java
  BE/airbnb5/src/main/java/com/codesquad/airbnb5/service/ReservationService.java
Labels: BE

#66 [iOS] OAuth 로그인 + 네트워크 구조 수정 + 가격 필터 화면 네트워크 연결
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Controller/LoginViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/SavedAccomodationViewController.swift
  iOS/AirbnbProject/AirbnbProject/Info.plist
  iOS/AirbnbProject/AirbnbProject/Util/DataUseCase.swift
  iOS/AirbnbProject/AirbnbProject/Util/NetworkManager.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/Model.swift
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/PriceBarGraphView.swift
  iOS/AirbnbProject/AirbnbProject/View/PriceFilterView/PriceFilterViewController.swift
Labels: iOS

#67 [iOS] 메인메뉴 이미지 네트워크 통신 및 캐싱
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Util/DataUseCase.swift
  iOS/AirbnbProject/AirbnbProject/Util/NetworkManager.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.xib
  iOS/AirbnbProject/AirbnbProject/View/MainViewController.swift
Labels: iOS

#69 [iOS] 메인메뉴 화면 수정
  iOS/AirbnbProject/AirbnbProject.xcodeproj/project.pbxproj
  iOS/AirbnbProject/AirbnbProject/Base.lproj/Main.storyboard
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/Util/NetworkManager.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.swift
Labels: iOS

#70 [iOS] 즐겨찾기 기능 구현
  iOS/AirbnbProject/AirbnbProject/Controller/MainViewController.swift
  iOS/AirbnbProject/AirbnbProject/Controller/SavedAccomodationViewController.swift
  iOS/AirbnbProject/AirbnbProject/Util/DataUseCase.swift
  iOS/AirbnbProject/AirbnbProject/Util/FavoriteButtonManager.swift
  iOS/AirbnbProject/AirbnbProject/Util/NetworkManager.swift
  iOS/AirbnbProject/AirbnbProject/View/Extension/ButtonExtension.swift
  iOS/AirbnbProject/AirbnbProject/View/MainView/AccomodationInfoTableViewCell.swift
  iOS/AirbnbProject/AirbnbProject/View/Model.swift
Labels: iOS
